@import '~antd/dist/antd.css';

.center-btn{
    
    /* margin-left: 65px; */
    color: white;
    background-color: rgb(236, 89, 20);
    width: 300px;


}

/* .GoogleAuthen{
    margin-left: 15px;
    
} */

.logoimg{
    width: 40%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }

/* .site-form-item-icon{
    width: 200px;
} */