@import '~antd/dist/antd.css';

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {

  background-color: #d22d2d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #fff;
}



#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;

}

.Sidemenubar {
  font-weight: bold;
}




.Headermenu {
  background-color: #d22d2d;
  font-weight: bold;
}

.trigger {
  display: flex;
  /* align-items: center; */
  margin-left: 1000px;
  font-weight: bold;
  font-size: large;
  float: right;
  margin: 10px;
  color: gray;
}

.dashboardcards {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

}


.calendarcell {
  background-color: #C3FDB8;
  padding: 30px;
  padding-left: 80px;
  padding-top: 50px;
  /* padding-bottom: 50px; */

  /* margin-top: 0px; */
}


.checkinBtn:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}

.assignBtn {

  color: darkgrey;
  /* margin-left: 20px; */

}

.assignBtn:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}

.assignBtn:focus {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}


.backbtn {
  background-color: lightgray;
  color: darkgrey;
  margin-left: 20px;

}

.backbtn:hover {
  background-color: lightgray;
  color: darkgrey;
  border-color: grey;
  margin-left: 20px;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}

.cancelpassBtn {
  /* font-weight: bold; */
  background-color: #da3939;
  color: white;
  margin-right: 4px;
}


.cancelpassBtn:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}


.okpassBtn {
  /* font-weight: bold; */
  background-color: #1974D2;
  color: white;
  margin-right: 4px;
}

.calendarviewattendancebtn {
  width: 20px;
  height: 20px;
  /* border-color: white; */
}

.calendarviewattendancebtn:hover {
  width: 20px;
  height: 20px;
  transform: scale(1, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1, 1.3);
  /* border-color: white; */
}

.okpassBtn:hover {
  /* font-weight: bold; */
  background: #1974D2;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}

.submitbtn {
  /* font-weight: bold; */
  background-color: #da3939;
  color: white;
  margin-left: 90%;

 
}


.submitbtn:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}

.changepasswordemp {
  /* font-weight: bold; */
  background-color: #da3939;
  color: white;
  margin-left: 280%;

 
}

.changepasswordemp:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}

.editbtn {
  /* font-weight: bold; */
  background-color: #da3939;
  color: white;


 
}


.editbtn:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}


.deletebtn {

  background-color: #fd0000;
  color: white;


 
}
.deletebtn:hover {

  background: #f30202;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}




.breakBtn {
  /* font-weight: bold; */
  background-color: #d34343;
  color: white;


 
}


.breakBtn:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}

.breakBtn:focus {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
}

.checkoutBtn:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}

.btngreen{
  background: #228b22;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}
.btngreen:hover{
  background: #228b22;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}


.userprofileimg{
  height: 100px;
  width: 70px;
  
}

.editemp {
  /* font-weight: bold; */
  background-color: #d34343;
  color: white;
  margin-left: 180px;
}

.editemp:hover {
  /* font-weight: bold; */
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}



.parent {
  text-align: left;
}

.child {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.center-btn {
  /* margin-left: 65px; */
  color: white;
  background-color: #da3939;
  width: 300px;
  font-weight: bold;

}

.center-btn:hover {
  font-weight: bold;
  background: white;
  border-color: rgb(236, 89, 20);
  color: white;
  background-color: #da3939;
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.1, 1.3);
  -moz-transform: scale(1, 1.3);
}

/* .GoogleAuthen{
  margin-left: 15px;
  
} */

.logoimg {
  width: 40%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.profilephoto {

  width: 40%;
  margin: auto;
  display: block;
  margin-bottom: 20px;

}

/* .site-form-item-icon{
  width: 200px;
} */

.btnset {
  color: white;
  margin: 5px;
}

.addEmpBtn:hover {

  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1);

}

.addEmpBtn {
  background: white;
  border-color: lightgrey;
  color: black;
  float: right;
  margin: 10px;

  /* background: #d22d2d; */
  /* border-color: black; */
  /* color: black; */
}

.addEmpFormBtn {
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  margin-left: 120px;
}

.addEmpFormBtn:hover {
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  margin-left: 120px;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}


.calendarbtn2:hover {
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
  /* float: right; */

}

.calendarbtn2 {

  border-color: lightgray;
  /* margin-top: 20px; */
  color: black;
  /* float: right; */
  margin: 10px;
  margin-bottom: 10px;

}


.calendarbtn:hover {
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
  /* float: right; */
  margin: 10px;
}

.calendarbtn {

  border-color: lightgray;
  /* margin-top: 20px; */
  color: black;
  /* float: right; */
  margin: 10px;
  margin-bottom: 10px;

}



.leavebtn {
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  border-color: lightgrey;
  float: right;
  margin: 10px;
}

.leavebtn:hover {
  background: #da3939;
  border-color: blanchedalmond;
  color: white;
  transform: scale(1, 1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1, 1.3);
}